*.el~
*.el#
.DS_Store
.DS_/
elpa/*
/ac-comphist.dat
/.python-environments/*
/abbrev_defs
irony/*
request/*
/ido.last~
/ido.last
eshell/*
ensime/*
/custom.el
auto-save-list/*
ananconda-mode/*
.lsp-sessions-v1
/.lsp-session-v1
